@import url(
  https://fonts.googleapis.com/css?family=Josefin+Sans:300,
  400,
  600,
  700|Open+Sans:400,
  400i,
  700
);
body {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  color: #5e5e5e;
  font-weight: 400;
  line-height: 1;
}
h1 {
  font-size: 60px;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 36px;
}
h4 {
  font-size: 30px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}
a,
label,
li,
p,
span {
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22px;
  color: #999;
  margin-bottom: 0;
}
p {
  line-height: 30px;
}
.form-control::-webkit-input-placeholder {
  color: #999;
  font-size: 16px;
}
.app-badge ul li.list-inline-item:not(:last-child) {
  margin-right: 25px;
}
@media (max-width: 768px) {
  .app-badge ul li.list-inline-item:not(:last-child) {
    margin-bottom: 25px;
    margin-right: 0;
  }
}
ul.feature-list {
  margin: 0;
  padding: 0;
}
ul.feature-list li {
  list-style: none;
  margin: 15px 0;
  font-size: 16px;
}
ul.social-icons li a {
  display: block;
  height: 35px;
  width: 35px;
  background: #f8f8f8;
  text-align: center;
  border-radius: 100%;
}
ul.social-icons li a i {
  font-size: 16px;
  line-height: 35px;
}
ul.rating {
  margin-bottom: 0;
}
ul.rating li {
  color: #ffc000;
  font-size: 26px;
}
.about .about-block .about-item,
.counter .counter-item,
.privacy .block,
.team-member,
.user-login .block .image img {
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.05);
}
.main-nav,
.main-nav .navbar-brand {
  transition: 0.3s ease;
}
.overlay:before {
  content: "";
  background: rgba(125, 113, 211, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
a:focus,
a:hover {
  color: #7d71d3;
  text-decoration: none;
}
.bg-1 {
  background: url(../images/backgrounds/banner-bg.webp) no-repeat;
  background-size: cover;
}
.bg-2 {
  background: url(../images/backgrounds/elipse-bg.png) no-repeat;
  background-size: cover;
}

.bg-elipse {
  background: url(../images/backgrounds/elipse-bg-three.png) no-repeat;
  background-position: center;
}
.bg-elipse-red {
  background: url(../images/backgrounds/elipse-bg-two.png) no-repeat;
  background-position: center;
}

.bg-gray {
  background: #f8f8f8;
}
.section {
  padding: 100px 0;
}
.section-title {
  text-align: center;
  margin-bottom: 85px;
}
.section-title h2 {
  font-size: 48px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  margin-bottom: 30px;
  font-weight: 300;
}
.section-title p {
  width: 70%;
  margin: 0 auto;
  font-size: 16px;
  line-height: 30px;
}
@media (max-width: 480px) {
  .section-title p {
    width: 100%;
  }
}
.video {
  position: relative;
}
.video:before {
  border-radius: 3px;
}
.video img {
  width: 100%;
  border-radius: 8px;
}
.video .video-button {
  position: absolute;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.video .video-box a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.video .video-box a .icon {
  height: 130px;
  width: 130px;
  position: relative;
}
.video .video-box a .icon:before {
  position: absolute;
  content: "";
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background: rgba(125, 113, 211, 0.7);
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.video .video-box a .icon:after {
  position: absolute;
  top: 0;
  content: "";
  height: 130px;
  width: 130px;
  border-radius: 100%;
  background: rgba(125, 113, 211, 0.5);
}
.video .video-box a .icon i {
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 500;
  display: block;
  height: 70px;
  width: 70px;
  font-size: 35px;
  background: #7d71d3;
  border-radius: 100%;
  color: #fff;
  line-height: 70px;
  text-align: center;
}
.form-control.main {
  background: #fff;
  padding: 20px 20px;
  border: none;
  font-size: 14px;
  border-radius: 4px;
}
.input-group {
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}
.input-group .input-group-addon {
  padding-left: 35px;
  padding-right: 35px;
  background: #7d71d3;
  color: #fff;
  cursor: pointer;
}
.form-control::-webkit-input-placeholder {
  color: #999;
  font-size: 14px;
}
.left {
  overflow: hidden;
}
.left img {
  margin-left: -40px;
}
@media (max-width: 768px) {
  .left img {
    margin-left: 0;
    margin-bottom: 30px;
  }
}
.right {
  overflow: hidden;
}
.right img {
  margin-left: 40px;
}
@media (max-width: 768px) {
  .right img {
    margin-left: 0;
  }
}
.nav-up {
  top: -70px;
}
@media (max-width: 768px) {
  .mb-md-30 {
    margin-bottom: 30px;
  }
}
.btn {
  text-transform: uppercase;
}

.btn-main {
  padding: 25px 45px;
  border-radius: 3px;
  background: #7d71d3;
  color: #fff;
  outline: 0;
}
.btn-main:hover {
  color: #fff;
}
.btn-main:focus {
  color: #fff;
  box-shadow: none;
}
.btn-main-rounded {
  letter-spacing: 0.075em;
  background: #7d71d3;
  color: #fff;
  text-transform: uppercase;
  padding: 15px 40px;
  border-radius: 100px;
}
.btn-main-rounded:hover {
  color: #fff;
}
.btn-main-md {
  padding: 17px 38px;
  border-radius: 3px;
  background: #7d71d3;
  color: #fff;
  outline: 0;
}
.btn-main-md:hover {
  color: #fff;
}
.btn-main-md:focus {
  color: #fff;
  box-shadow: none;
}
.btn-white {
  background: #fff;
  color: #7d71d3;
}
.btn-rounded-icon {
  border-radius: 100px;
  color: #fff;
  border: 1px solid #fff;
  padding: 13px 50px;
}
.main-nav {
  background: #7d71d3;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}
.main-nav .navbar-brand {
  padding: 0;
}
.main-nav .navbar-nav .nav-item {
  position: relative;
}
.main-nav .navbar-nav .nav-item .nav-link {
  position: relative;
  text-align: center;
  font-size: 13px;
  text-transform: uppercase;
  color: #fff;
  padding-left: 15px;
  padding-right: 15px;
}
.navbar-toggler:focus,
.navbar-toggler:hover {
  outline: 0;
}
.footer-main {
  padding: 50px 0;
  background: #7d71d3;
}
@media (max-width: 768px) {
  .footer-main {
    text-align: center;
  }
}
.footer-main .footer-logo {
  margin-bottom: 15px;
}
.footer-main .copyright p {
  color: #fff;
}
.footer-main .copyright a {
  color: #fff;
  font-weight: 600;
  transition: all 0.2s ease;
}
.footer-main .copyright a:hover {
  color: #fff;
}
@media (max-width: 768px) {
  .footer-main ul.social-icons {
    margin-top: 30px;
  }
}
.footer-main ul.footer-links {
  margin-top: 44px;
}
@media (max-width: 768px) {
  .footer-main ul.footer-links {
    margin-top: 20px;
  }
}
.footer-main ul.footer-links li a {
  color: #fff;
  padding: 0 10px;
  display: block;
}
@media (max-width: 768px) {
  .cta-subscribe .image {
    margin-bottom: 30px;
    text-align: center;
  }
}
.cta-subscribe .content {
  margin-left: 25px;
}
@media (max-width: 768px) {
  .cta-subscribe .content {
    text-align: center;
  }
}
.cta-subscribe .content .title {
  margin-bottom: 25px;
}
.cta-subscribe .content .title h2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
}
.cta-subscribe .content .description {
  margin-bottom: 40px;
}
.cta-subscribe .content .subscription-tag {
  margin-top: 25px;
}
.cta-subscribe .content .subscription-tag p {
  color: #7d71d3;
  letter-spacing: 0.1em;
}
.call-to-action-app {
  text-align: center;
}
.call-to-action-app a,
.call-to-action-app h2,
.call-to-action-app p {
  color: #fff !important;
}
.call-to-action-app p {
  margin-bottom: 60px;
}
.call-to-action-app ul li {
  margin-left: 15px;
}
@media (max-width: 480px) {
  .call-to-action-app ul li {
    margin-left: 0;
    margin-bottom: 10px;
  }
}
.call-to-action-app ul li:first-child {
  margin-left: 0;
}
.call-to-action-app ul li a i {
  font-size: 20px;
  margin-right: 5px;
}
.testimonial-slider .testimonial-item {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 6px;
}
.testimonial-slider .testimonial-item .content {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  padding: 40px 30px;
}
.testimonial-slider .testimonial-item .content .name h5 {
  font-weight: 700;
  text-transform: uppercase;
}
.testimonial-slider .testimonial-item .content .pos-in-com {
  margin-bottom: 15px;
}
.testimonial-slider .testimonial-item .content .pos-in-com span {
  color: #7d71d3;
}
.testimonial-slider .testimonial-item .content .speech {
  margin-bottom: 15px;
}
.testimonial-slider .testimonial-item .content .speech p {
  line-height: 30px;
}
.testimonial-slider .testimonial-item .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.testimonial-slider .testimonial-item .image img {
  -ms-flex-item-align: end;
  align-self: flex-end;
}
.banner {
  padding: 170px 0 145px;
}
.banner .content-block.ml-50 {
  margin-left: 50px;
}
@media (max-width: 768px) {
  .banner .content-block.ml-50 {
    margin-left: 30px;
  }
}
@media (max-width: 480px) {
  .banner .content-block.ml-50 {
    margin-left: 0;
  }
}
.banner .content-block h1,
.banner .content-block h5 {
  color: #fff;
}
.banner .content-block h1 {
  line-height: 90px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}
.banner .content-block h5 {
  text-transform: uppercase;
  margin-bottom: 75px;
}
@media (max-width: 480px) {
  .banner .content-block {
    text-align: center;
  }
}
@media (max-width: 480px) {
  .banner .image-block {
    margin-top: 30px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .about .image-block {
    text-align: center;
    margin-bottom: 30px;
  }
}
.about .about-block .about-item {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
}
.about .about-block .about-item.active {
  background: #7d71d3;
}
.about .about-block .about-item.active .icon i {
  color: #fff;
}
.about .about-block .about-item.active .content h5,
.about .about-block .about-item.active .content p {
  color: #fff;
}
.about .about-block .about-item .icon {
  width: 50px;
}
.about .about-block .about-item .icon i {
  font-size: 48px;
  color: #7d71d3;
}
.about .about-block .about-item .content {
  margin-left: 30px;
}
.about .about-block .about-item .content h5 {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 15px;
}
.about .about-block .about-item:not(:last-child) {
  margin-bottom: 30px;
}
.feature .feature-item .icon {
  margin-bottom: 25px;
}
.feature .feature-item .icon i {
  font-size: 48px;
  color: #7d71d3;
}
.feature .feature-item .content h5 {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 15px;
}
.feature .feature-item:not(:last-child) {
  margin-bottom: 80px;
}
@media (max-width: 768px) {
  .feature .feature-item {
    margin-bottom: 80px;
  }
}
.feature .app-screen {
  margin: 40px 0;
}
.promo-video {
  position: relative;
}
.promo-video .section-title h2,
.promo-video .section-title p {
  color: #fff;
}
.pricing-table {
  background: #fff;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
  padding: 50px 0;
  margin-bottom: 80px;
}
.pricing-table.featured .price p {
  color: #ff698d;
}
.pricing-table.featured .action-button .btn-main-rounded {
  background: #ff698d;
}
.pricing-table .title {
  margin-bottom: 30px;
}
.pricing-table .title h5 {
  text-transform: uppercase;
  font-weight: 600;
}
.pricing-table .price {
  margin-bottom: 30px;
}
.pricing-table .price p {
  font-size: 36px;
  font-weight: 700;
  color: #7d71d3;
}
.pricing-table .price p span {
  font-size: 16px;
  font-weight: 400;
}
.pricing-table .action-button {
  margin-top: 30px;
}
.cta-download {
  position: relative;
  padding: 35px 0;
}
.cta-download .image-block {
  position: absolute;
  top: -245px;
}
@media (max-width: 768px) {
  .cta-download .image-block {
    display: none;
  }
}
.cta-download .content-block h2,
.cta-download .content-block p {
  color: #fff;
}
.cta-download .content-block h2 {
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 30px;
  margin-top: 40%;
}
.cta-download .content-block p {
  line-height: 30px;
  margin-bottom: 40px;
}
.counter {
  padding-top: 50px;
  padding-bottom: 50px;
}
.counter .counter-item {
  text-align: center;
  background: #7d71d3;
  padding: 40px 0;
  border-radius: 8px;
}
@media (max-width: 768px) {
  .counter .counter-item {
    margin-bottom: 30px;
  }
}
.counter .counter-item h3,
.counter .counter-item p {
  color: #fff;
  text-transform: uppercase;
}
.counter .counter-item h3 {
  margin-bottom: 20px;
  font-weight: 600;
}
.team-member {
  background: #fff;
  padding: 30px;
}
@media (max-width: 768px) {
  .team-member {
    margin-bottom: 40px;
  }
}
.team-member .image {
  margin-bottom: 30px;
}
.team-member .image img {
  border-radius: 100%;
}
.team-member .name h5 {
  font-weight: 600;
  text-transform: uppercase;
}
.team-member .position {
  margin-bottom: 20px;
}
.team-member .skill-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}
.team-member .skill-bar .progress {
  width: 80%;
  height: 7px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}
.team-member .skill-bar .progress .progress-bar {
  width: 0;
  background: #7d71d3;
}
.team-member .skill-bar span {
  font-size: 12px;
  margin-left: 15px;
}
.slider {
  padding: 180px 0 300px;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.slider .block {
  position: relative;
}
.slider .block h1,
.slider .block h3 {
  color: #fff;
}
.slider .block .download {
  margin-top: 20px;
}
.slider .block .image-content {
  text-align: center;
}
.slider .block .image-content img {
  margin-top: 100px;
  margin-bottom: -200px;
}
.slider:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom: 290px solid #fff;
  border-left: 2000px solid transparent;
  width: 0;
}
@media (max-width: 768px) {
  .services .col-lg-4.m-auto {
    display: none;
  }
}
.feature .feature-content h2,
.feature .feature-content p {
  margin-bottom: 25px;
}
@media (max-width: 768px) {
  .feature .feature-content h2,
  .feature .feature-content p {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .feature .testimonial {
    text-align: center;
  }
}
.feature .testimonial p {
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 10px;
  font-style: italic;
  color: #242424;
}
.feature .testimonial ul.meta li {
  font-size: 12px;
  margin-right: 10px;
}
.feature .testimonial ul.meta li img {
  height: 40px;
  width: 40px;
  border-radius: 100%;
}
@media (max-width: 480px) {
  .app-features .app-feature {
    margin-bottom: 30px;
  }
}
.video-promo {
  padding: 150px 0;
}
.video-promo .content-block {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
.video-promo .content-block h2 {
  font-size: 30px;
  color: #fff;
}
.video-promo .content-block p {
  margin-bottom: 30px;
}
.video-promo .content-block a i.video {
  height: 125px;
  width: 125px;
  background: #7d71d3;
  display: inline-block;
  font-size: 40px;
  color: #fff;
  text-align: center;
  line-height: 125px;
  border-radius: 100%;
}
.video-promo .content-block a:focus {
  outline: 0;
}
@media (max-width: 480px) {
  .about .content {
    text-align: center;
  }
}

.privacy .privacy-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 15px;
  background: #fafafa;
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.privacy .privacy-nav ul {
  padding-left: 0;
  margin-bottom: 0;
}
.privacy .privacy-nav ul li {
  list-style: none;
}
.privacy .privacy-nav ul li a {
  font-size: 20px;
  color: #000;
  padding: 10px 0;
  display: block;
}
@media (max-width: 768px) {
  .privacy .privacy-nav ul li a {
    font-size: 16px;
    padding: 5px 0;
  }
}
@media (max-width: 768px) {
  .privacy .privacy-nav {
    margin-bottom: 30px;
  }
}
.privacy .block {
  background: #fff;
  padding: 40px 50px;
}
.privacy .block .policy-item {
  padding-bottom: 40px;
}
.privacy .block .policy-item .title {
  margin-bottom: 20px;
}
.privacy .block .policy-item .title h3 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
}
.user-login {
  height: 100%;
  width: 100%;
}
.user-login .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 768px) {
  .user-login .block {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.user-login .block .image {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  margin-right: 40px;
}
@media (max-width: 768px) {
  .user-login .block .image {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: center;
    margin-bottom: 30px;
    margin-right: 0;
  }
}
.user-login .block .image img {
  border-radius: 8px;
}
.user-login .block .content {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
@media (max-width: 768px) {
  .user-login .block .content {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
}
.user-login .block .content .logo {
  margin-bottom: 80px;
}
@media (max-width: 992px) {
  .user-login .block .content .logo {
    margin-bottom: 40px;
  }
}
.user-login .block .content .title-text {
  margin-bottom: 35px;
}
.user-login .block .content .title-text h3 {
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
